In [1]:
#ARTHMATIC OPERATOR
a=17
b=9
print(a&b)

1

In [2]:
#ARTHMATIC OPERATOR
a=17
b=9
print(a or b)

17

In [3]:
#VARIABLE IS A NAME WHICH POINTS THE OBJECT

In [4]:
#ARTHMATIC OPERATOR
a=17
b=9
print("ADD",a+b)
print("SUB",a-b)
print("MULTIPLY",a*b)
print("DIVISION",a/b)
print("FLOOR DIVISION",a//b)
print("POWER",a**b)
print("MOD",a%b)

ADD 26
SUB 8
MULTIPLY 153
DIVISION 1.8888888888888888
FLOOR DIVISION 1
POWER 118587876497
MOD 8

In [5]:
#ASSIGNMENT OPERATOR
a=8
a+=10
print(a)

18

In [6]:
#CONDITIONAL OPERATOR
# ==,!=,>=,<=,>,<
a=10
b=8
print("equality",a==b)

equality False

In [7]:
#LOGICAL OPERATOR
# AND ,OR,XOR,NOT

In [8]:
#IDENTITY OPERATOR 
#IS ,IS NOT
# IT COMPARES THE ADDRESS OF TWO VARIABLE/ OBJECT
a=9
b=9
print(a is b)

True

In [9]:
#MEMBERSHIP OPERATOR
a="cybrom"
print("c" in a)
print("c"  not in a)

True
False

In [13]:
#BITWISE OPERATOR
#AND(&),OR(|),OR(^)
a=10
b=8
print(bin(a))
print(bin(b))
print(bin(a&b))
print("bitwise and :" ,a&b)
print("bitwise or :" ,a|b)
print("bitwise xor :" ,a^b)

0b1010
0b1000
0b1000
bitwise and : 8
bitwise or : 10
bitwise xor : 2

In [ ]:
a=int(input("enter any number:"))
b=int(input("enter any number:"))
print(a+b)

s="cybrom" #STRING IS UNMUTABLE DATA TYPE ,INDEING AND ODERED BUT UNMUITABLE
print(s)
print(type(s))
c=''' multi line 
comment id different from multiline 
sting'''

print(c)

In [ ]:
#OPERATORS


#LIST- COLLECTION OF ELEMENT []
#COMMA, SEPRATED VALUE*
l=[10,10.5,"hello"]
print(l)
print(type(l))
l.append("bcds") 
print(l)

In [ ]:
#TUPLE- COLLECTION OF ELEMENT
#IDENTIFIED BY PARANTHISES() WITH COMMA , SEPRATED VALUES
#HETROGENOUS NATURE, INDEXED AND IMMUTUBALE
t=(10,0)# this is known as single value tuple
tu=(10,20.5,100,"cybrom")
print(t)
print(type(t))
print(tu)
print(type(tu))
print(tu[1])
print(tu[3][3])

In [ ]:
#DICTIONARY-ORDERED COLLECTION OF ELEMENT.
#DENOTED BY{} WITH KEY:VALUE PAIR
#UNINDEXED,HETROGENOUS,MUTUABLE
d={"name":"amit","subject":"python","batch":"da/ds26"}
print(d)

In [ ]:
di={"name":["amit","karan","deepesh"],"subject":["python","sql",],"batch":["da/ds26","da/ds24"]}
print(di)
print(di["batch"])
print(di["subject"][1])
di["fees"]=100000
print(di)

In [ ]:
#set- Collection of element 
# denoted by curly brsces{} with comma seprated value 
#unindexed ,unodered,mutuable and hetrogeneous
s={10,10.5,"hello","cybrom"}
print(s)
s.add("ajjj")
print(s)

In [ ]:
#CONSTRUCTOR---SET()

In [ ]:
#CONTROL FLOW STATEMENT
a=int(input("enter any number:" ))
if a%2==0:
    print("even number")
else:
 print("odd number")

In [ ]:
#WAP TO PROINT WEARHER A USER ELIGIBLE TO VOTE OR NOT 
age=int(input("enter your age:"))
if age>=18:
    print("you are eligible to vote")
else:
    print("you are not eligible")

In [ ]:
#WAP TO PRINT WEATHER A LAST DIGIT OF ANY NUMBER IS DIVISIBLE BY 3 OR NOT
no=int(input("enter any number:"))
lastd=no%10
print(lastd)
if lastd==0:
    print("no is divisible by 3 ")
else:
    print("not divisible by 3")

In [ ]:
#WAP TO FIND THE LARGEST NO AMAONG THREE NUMBERS
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
if a>b and a>c:
    print("First Number is Greatest",a)
elif b>a and b>c:
    print("Second Number is Greatest",b)
else :
    print("Third Number is Greatest",c)

In [ ]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
if a>b and a>c:
    Largest=a
elif b>a and b>c:
    Largest=b
else :
    Largest=c
print("largest Number is :",Largest)

In [ ]:
#WAP TO FIND A TOTAL PERCENTAGE AND DIVISION ACCORDING TO PERCENTAGE 
MATHS=int(input("Enter MARKS OUT OF HUNDRED:"))
SCIENCE=int(input("Enter MARKS OUT OF HUNDRED:"))
HINDI=int(input("Enter MARKS OUT OF HUNDRED::"))
ENGLISH=int(input("Enter MARKS OUT OF HUNDRED:"))
SOCIAL_SCIENCE=int(input("Enter MARKS OUT OF HUNDRED:"))

PERCENT= (MATHS+SCIENCE+HINDI+ENGLISH+SOCIAL_SCIENCE)*100/500
print("your percentage is :",PERCENT,"%")
if PERCENT>=65:
    division="A"
    print("your are passed in:",division)
elif PERCENT>=50:
    division="B"
    print("your are passed in:",division)
elif PERCENT>=33:
    division="C"
    print("your are passed in:",division)
else:
    print(" your are failed")

In [ ]:
#WAP to find weather a year is a leap year or not
year=int(input("Enter any Year: "))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"year is a leap year")
        else:
            print(year,"not a leap year")
    else:
        print(year,"leap year")
else:
    print(year,"not a leap year")

In [ ]:
#WAP TO CHECK NO IF ITS NEGETIVE POSITIVE OR ZERO AND IF ITS POSITIVE CHECK WHES=ATHER ITS ODD OR EVEN
a=int(input("enter a no :"))
if a<0:
    print("number is negetive",a)
elif a==0:
    print("number is zero",a)
else:
    print("number is positive")
    if (a%2==0):
        print("number is even")
    else:
        print("number is odd")

In [ ]:
'''WAP to find discount and final selling price Of article
if MRP is greater to 1000 then discount will be 10% 
and if mrp is less than 1000 then discount is 5% '''

mrp=int(input(" enter mrp"))
if mrp>=1000:
    discount=mrp*10/100
    print("discount is 10%:",discount)
    s_price=mrp-discount
    print("final selling price",s_price)
else:
    print("discount is 5%")
    discount=mrp*5/100
    s_price=mrp-discount
    print("final selling price",s_price)
    
    
    

a=int(input("enter any no."))
if(a>0):
    print("no. is positive",a)
    if(a%2==0):
        print("no. is even")
    else:
        print("no. is odd")
    
elif(a<0):
    print("no. is negative",a)
else:
    print("no. is zero")

In [ ]:
cp=int(input("enter costprice"))
if cp>=1000:
    d=cp*10/100
    sp=cp-d
    print("discount is 10%",d)
    print("selling price is ",sp)
else:
     d=cp*5/100
     sp=cp-d
     print("discount is 5%",d)
     print("selling price is ",sp)

In [ ]:
#wap to fund withdrawl and to show case avilable fund 
acc_bal=float(input("enter available balance:"))
w_amt=float(input("enter amount to withdraw:"))
if (w_amt<=acc_bal):
            print("transation done")
            a_bal=acc_bal-w_amt
            print("available balance is ",a_bal)
else:
  print("insufficient  fund ")

In [ ]:
'''wap to determine the type of trinange based on the lengths of its side the types are 
if 
all sides are equal = equlateral triangle
isosceles triangle= two sides are equal
scalene triangle = all side are different'''

s1=int(input("enter length of 1st side:"))

s2=int(input("enter length of 2st side:"))

s3=int(input("enter length of 3st side:"))
if s1+s2>s3 or s2+s3>s1 or s3+s1>s2:            #TO CHECK WEATHER ITS A TRIANGLE OF NOT  
    if (s1==s2 and s1==s3):                     
     print("equlateral tiangle")
    elif (s1==s2 or s2==s3 or s3==s1):
     print("isolsceles triangle")
    else:
     print("scalene triangle ")
else:
 print("invalid triangle")

In [ ]:
#RANGE FUNCTION USE IN  FOR LOOP
for i in range(1,5,1):
    print(i)

In [ ]:
for i in range(5): #by defaut it takes strat from 0 and step as +1
    print(i)      # giving end point is a must condition without end it will thriugh an error.

In [ ]:
n=20
for i in range(n,-5,-2): 
    print(i,end=" ")

In [1]:
#WAP TO PRINT FIRST 10 NATURAL NO (IN A SINGLE LINE)
n=10
for i in range(1,n+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [3]:
#wap TO PRINT FIRST 10 WHOLE NO 
n=10
for i in range(0,n,1):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [5]:
#wap to PRINT FIRST 10 EVEN AND 10 ODD NO
for i in range(1,21,1):
    if i%2==0:
        print(i,"even no",end=" ,")
    else:
        print(i,"odd no ",end=",")

1 odd no ,2 even no ,3 odd no ,4 even no ,5 odd no ,6 even no ,7 odd no ,8 even no ,9 odd no ,10 even no ,11 odd no ,12 even no ,13 odd no ,14 even no ,15 odd no ,16 even no ,17 odd no ,18 even no ,19 odd no ,20 even no ,

In [7]:
#wap to print first n natural no
n=int(input("enter the no you want to print:"))
for i in range(1,n+1):
    print(i,end=",")

enter the no you want to print: 10

1,2,3,4,5,6,7,8,9,10,

In [ ]:
#WAP TO PRINT SUM OF FIRST N NATURAL NUMBER
n=int(input("enter any number"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print("sum=",sum)

In [ ]:
#multiplication of n natural no 
n=int(input("enter any number"))
mult=1
for i in range(1,n+1):
    mult=mult*i
print("multiplication=",mult)

multiplication= 120

In [ ]:
#wap to print sum of first n even and odd no
n=int(input("enter any no"))
sum_e=0
sum_o=0
for i in range(1,n+1):
    if i%2==0:
        sum_e=sum_e+i
    else:
        sum_o=sum_o+i

print("sum of even no",sum_e)
print("sum of odd no",sum_o)

In [ ]:
#wap to print sum of first n even and odd no with count
n=int(input("enter any no"))
sum_e=0
sum_o=0
count_e=0
count_o=0
for i in range(1,n+1):
    if i%2==0:
        sum_e=sum_e+i
        count_e=count_e+1
    else:
        sum_o=sum_o+i
        count_o=count_o+1
print("count of even no",count_e)
print("sum of even no",sum_e)
print("count of odd no",count_o)
print("sum of odd no",sum_o)

In [ ]:
#WAP TO PRINT FACTORIAL OF GIVEN NO?
n=int(input("enter any  no"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("fact of",n,"is",fact)

In [ ]:
#WAP TO PRINT FACTORIAL OF GIVEN NO with help of negetive steping.
n=int(input("enter any  no"))
fact=1
for i in range(n,0,-1):
    fact=fact*i
print("fact of",n,"is",fact)

In [ ]:
#fibonacci series
#every term is a sum of last two no
a=0
b=1
n=int(input("enter any no:")) 
print(a,b,end=" ")
for i in range(2,n):
      c=a+b
      print(c,end=" ")
      a=b
      b=c

In [ ]:
#WAP TO PRINT FACTORIAL OF 7
n=int(input("enter any  no"))
fact=1
for i in range(n,0,-1):
    fact=fact*i
print("fact of",n,"is",fact)

In [ ]:
#wap to check weather a no is prime or not
n=int(input("enter any number:"))
if n==0 or n==1:                      # as we know 0 and 1 cant be a prime no
    print(n,"not a prime no ")
elif n>1:
    for i in range(2,n):         # loop starts from 2 and runs till n-1
        if n%i==0:
            print(n,"not a prime no ")
            break                # breaks the loop when first factor other than one it self found
    else:
        print(n,"prime no")      #if no factor found it shows no as prime 
else:                            # if no is negetive
     print(n,"not a prime no ")

In [2]:
#WAP TO CALCULATE NO OF CHARCTER AND DIGIT
a=input("enter any string with numeric form")
digit=0
char=0
s_char=0
for i in a:
    if i.isdigit():
        digit=digit+1
    elif i.isalpha():
        char=char+1
    else:
        s_char=s_char+1
        
        
print("contains digit=",digit,"character=",char,"special character",s_char)

contains digit= 4 character= 13 special character 3

In [2]:
# example of nested for loop
#creating a pattern using nested loops
n=6
for i in range(n):
    for j in range(n):
        print("#",end=" ")
    print()

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

In [4]:
# example of nested for loop
#creating a pattern using nested loops
n=5
for i in range(n):
    for j in range(i+1):
        print("#",end=" ")
    print()

#
# #
# # #
# # # #
# # # # #

In [5]:
# example of nested for loop
#creating a pattern using nested loops
n=5
for i in range(n):
    for j in range(n-i):
        print("#",end=" ")
    print()

# # # # #
# # # #
# # #
# #
#

In [7]:
# example of nested for loop
#creating a pattern using nested loops
n=5
for i in range(n):
    for j in range(i,0,-1):
        print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [8]:
n = 5
for i in range(0,n+1):
    for j in range(n-i,0,-1):
        print("#", end=' ')
    print()

# # # # #
# # # #
# # #
# #
#

In [10]:
# example of nested for loop
#creating a pyramid  pattern using nested loops 
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=' ')
    for j in range(i+1):
        print("#",end=" ")
    for j in range(i):
        print("#",end=" ")
    print()

        #
      # # #
    # # # # #
  # # # # # # #
# # # # # # # # #

In [60]:
# practice
# example of nested for loop
#creating a pyramid  pattern using nested loops 
n = int(input("enter any number"))
for i in range(n):
    for j in range(0,n-i-1,1):
        print(" ",end=" ")
    for j in range(0,i+1,1):
        print("#",end=" ")
    for j in range(0,i,1):
        print("#",end=" ")
    print()

          #
        # # #
      # # # # #
    # # # # # # #
  # # # # # # # # #
# # # # # # # # # # #

In [11]:
# example of nested for loop
#creating a pyramid  pattern using nested loops 
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=' ')
    for j in range(2*i+1):
        print("#",end=" ")
    
    print()

        #
      # # #
    # # # # #
  # # # # # # #
# # # # # # # # #

In [12]:
# HOME WORK example of nested for loop
#creating a HOLLOW  pyramid  pattern using nested loops 
# example of nested for loop
#creating a pyramid  pattern using nested loops 
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=' ')
    for j in range(2*i+1):
        if j==0 or j==2*i or i==n-1:
            print("#",end=" ")
        else:
            print(" ",end=" ")
        
    
    print()

        #
      #   #
    #       #
  #           #
# # # # # # # # #

In [13]:
# while loop
i=1
n=int(input("enter any number:"))
while i<=n:
    print(i,"no of time loop runs",end="| ")
    i=i+1



print(i,"is the final value of i")

1 no of time loop runs| 2 no of time loop runs| 3 no of time loop runs| 4 no of time loop runs| 5 is the final value of i

In [64]:
i=0
sum=0
while i<=10:
    sum=sum+i
    i=i+1
    print(i," = ",sum)
print("sum of first 10 whole no is ",sum)

1  =  0
2  =  1
3  =  3
4  =  6
5  =  10
6  =  15
7  =  21
8  =  28
9  =  36
10  =  45
11  =  55
sum of first 10 whole no is  55

In [15]:
#wap to find a reverse of any given no 
n=int(input("enter any number:"))
rev=0
while n!=0:             # untill n is not equal to zero
    dig=n%10            #to get last digit of number 
    rev=(rev*10)+dig    # to get nomber in reverse order 
    n=n//10             # to reduce number single by digit 

print("reverse of  given number is : ",rev)

reverse of  given number is :  5

In [16]:
#ARMSTRONG NUMBER
#WAP TO FIND WEATHER A NUMBER IS A ARMSTRONG NUMBER OR NOT 
n=int(input("enter any number:"))
a=len(str(n))
sumdigit=0
old=n
while n!=0:
    dig=n%10
    sumdigit=sumdigit+(dig**a)
    n=n//10
if sumdigit==old:
    print("number is armstrong number")
else:
    print("not a armstrong no")

number is armstrong number

In [ ]:
#ARMSTRONG NUMBER
#WAP TO FIND WEATHER A NUMBER IS A ARMSTRONG NUMBER OR NOT 
n=int(input("enter any number:"))

a=len(str(n))
sumdigit=0
old=n
while n!=0:
    dig=n%10
    sumdigit=sumdigit+(dig**a)
    n=n//10
if sumdigit==old:
    print("number is armstrong number")
else:
    print("not a armstrong no")
print(a)

not a armstrong no
2

In [6]:
#INDEXING/SLICING -padh lena yaad se 
s="WELCOME TO CYBROM"
3
print(s[1:5:-1])

print(s[-9: :1])

TO CYBROM

In [7]:
#STRING
#ODERED SEQUENCE OF CHARACTER"
#IMMUTABLE, INDEXED AND DENOTED BY "",''
S="CYBROM"
print(S)
print(type(S))
print(S[2])

CYBROM
<class 'str'>
B

In [20]:
s="cybrom"
for i in s:
    print(i)

c
y
b
r
o
m

In [21]:
s="cybrom"
for i in range(len(s)):
    print(i,s[i])

0 c
1 y
2 b
3 r
4 o
5 m

In [22]:
#WAP 
s="WELCOME TO BHOPAL"
for i in s:
    print(i)

W
E
L
C
O
M
E

T
O

B
H
O
P
A
L

In [23]:
#WAP 
s="WELCOME TO BHOPAL"
for i in range(len(s)):
    print(s[i],end=" ")

W E L C O M E   T O   B H O P A L

In [24]:
#wap to reverse a string  with the help of loop 
s="WELCOME TO BHOPAL"
rev=""
for i in s:
    rev=i+rev
print(rev)

LAPOHB OT EMOCLEW

In [25]:
#REVERSE of string with the help of slicing 
s="WELCOME TO BHOPAL"
print(s[::-1])

LAPOHB OT EMOCLEW

In [26]:
# wap to check weather a  given string is pallindrome or not  
#take input from the user
s=input("enter any string:")
rev=""
for i in s:
    rev=i+rev
if s==rev:
    print("string is paliindrome")
else:
    print("not a pallindome")

not a pallindome

In [27]:
# wap to check weather a  given string is pallindrome or not  (with slicing ) 
#take input from the user
s=input("enter any string:")
if s==s[::-1]:
    print("pallindrome")
else:
    print("not a pallindrome")

pallindrome

In [28]:
'''# FUNCTION OF STRING

#len()- returns the count of character
,{max(),min() these two works on ASCII}
#ord()- it returns the ASCII values
chr()-function return character of required ascii
# ASCII VALUES
# a-97,A-65," "-32 '''

'# FUNCTION OF STRING\n\n#len()- returns the count of character\n,{max(),min() these two works on ASCII}\n#ord()- it returns the ASCII values\nchr()-function return character of required ascii\n# ASCII VALUES\n# a-97,A-65," "-32 '

In [29]:
a="amit"
print(a.title())

Amit

In [30]:
print(ord("a"))  #it always takes character as a parameter
print(chr(210))  #it always takes integer as a parameter

97
Ò

In [31]:
'''METHODS 
#upper ,lower, title ,capitalize'''
a="welcome to bhopal"
print(a.title())
print(a.upper())
b=a.lower()
print(b)
print(a.capitalize())

Welcome To Bhopal
WELCOME TO BHOPAL
welcome to bhopal
Welcome to bhopal

In [32]:
''' isgigit(),isalpha(),isalnum()'''
s="welcome123"
print(s.isdigit())
print(s.isalpha())
print(s.isalnum())

False
False
True

In [33]:
s="123"
print(type(s))
print(s.isalnum())
print(s.isdigit())
print(s.isalpha())

<class 'str'>
True
True
False

In [34]:
#count- returns integer
#object.count(charcter)-it takes "character" /" substring "/"sub string" as parameter
s="welcome to bhopal"
print(s.count("o"))

3

In [35]:
#replace
s="welcome to bhopal" 
print(s.replace("o","a",2)
print(s.replace(" ",""))
print(s.replace("welcome","swagatam",1))
print(s)

SyntaxError: '(' was never closed (571258836.py, line 3)

In [75]:
#find syntax-object.find("substring",[start],[end])
#index syntax-object.index("substring",[start],[end])
s="welcome to bhopal"
print(s.find("w"))
print(s.index("o"))

0
4

In [ ]:
#wap to find number of vovel in a string,
#no of consonent and the number of  special character in a given string
s="welcome to city of lakes"
v="aeiou"
vovel=0
cons=0
sp=0
for i in s:
    if i in v :
        vovel=vovel+1
    elif i==" ":
        sp=sp+1
    else:
        cons=cons+1

print("NO of vovel",vovel)
print("NO of consonent",cons)
print("NO of special character",sp)

In [ ]:
#split()
#join()

In [77]:
#split() method -
#syntax-object.split("seprator",[maxsplit])
# split method always returns a list of string.
# by default seprator -whitespaces.
#maxsplit()
s="welcome to the city"
print(s.split())
print(s.split('e'))
print(s.split(" ",1))

['welcome', 'to', 'the', 'city']
['w', 'lcom', ' to th', ' city']
['welcome', 'to the city']

In [79]:
'''join 
syntax- "seprator".join(iterables)# iterables=stringobject'''

s="welcome to the city"
l=s.split(" ")
print(l)
s1=" ".join(l)
print(s1)

['welcome', 'to', 'the', 'city']
welcome to the city

In [ ]:
'''with the help of string and join method
we can access the individuL ELEMENT OF STRING'''
s="welcome"
s1="-".join(s)
print(s1)
l=s1.split("-")
print(l)
print(l[3])

In [ ]:
#strip ()-removes whitespaces from front or end of a string
s="     welcome to the city"
s1=s.strip()
print(s1)
print(s)

In [81]:
#format- you can combine string and int using this
name=input("enter your name :")
age= int(input("enter your age :"))
print(f"hii {name}  your are { age} year old")

enter your name : amit
enter your age : 25

hii amit  your are 25 year old

In [83]:
s="welcome to the city"
print(s.encode())

b'welcome to the city'

In [85]:
#list -mutable,indexed,odered,comma(,) seprated value
# mutable,indexed,hetrogenous
l=[]

In [ ]:
l=[10,20,30,"hello",50]
print(l[1:4])
print(l[1:4:2])

In [87]:
l=[10,20,30,"hello",50]
a=len(l)
for i in l:
    print(i, end=",")

for i in range(a):
    print(l[i], end=",")

10,20,30,hello,50,10,20,30,hello,50,

In [ ]:
l=[10,20,30,"hello",50]
a=len(l)
for i in range(a):
    print(l[i], end=",")

In [89]:
l=[10,20,30,40,[100,200,["delhi","mumbai"],200,"hello"],19]
print(l[4][2][1])

mumbai

In [95]:
l=[10,20,30,"hello"]
count=0
for i in l:
    count=count+1
print("length of list",count)
print(max(l[:3]))

length of list 4
30

In [ ]:
l=[10,20,30,"hello"]
print(max(l))
#TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
#max function IMP
l=[10,20,30,50,60,54112,141541,2015415612]
max_element=0
for i in l:
    if i>max_element:
        max_element=i
print(max_element)

In [ ]:
#min function IMP
l=[10,5,30,50,60,54112,141541,2015415612]
min_element=l[0]
for i in l:
    if i<min_element:
        min_element=i
print(min_element)

In [97]:
#AVG function
l=[10,20,30,50,60]
sum=0
n=len(l)
for i in l:
    sum=sum+i


avg=sum/n
print(avg)

34.0

In [ ]:
#list methods ,FILO-FIRST IN LAST OUT
#append- TAKES SINGLE PARAMETER ,ADDS TO THE LAST
l=[10,20,25,30,"hellow"]
l.append("kammo")
print(l)
l1=l[4]
l.append([10,20,25,30,"hellow"])
print(l)

In [99]:
l=[10, 20, 25, 30, 'hellow', 'kammo', [10, 20, 25, 30, 'hellow']]
l[6][4]="cybrom"
print(l)

[10, 20, 25, 30, 'hellow', 'kammo', [10, 20, 25, 30, 'cybrom']]

In [101]:
#wap to take input from user at run time and store them in A LIST and find sum
l=[]
for i in range(5):
    n=int(input("enter any no:"))
    l.append(n)
    
print(l)
sum=0
for i in l:
    sum=sum+i
print("sum of numbers:",sum)

enter any no: 10
enter any no: 20
enter any no: 30
enter any no: 144
enter any no: 225

[10, 20, 30, 144, 225]
sum of numbers: 429

In [103]:
#insert method
l=[10,20,25,30,"hellow"]
l.insert(3,40)
print(l)
l.insert(4,[10,20,25,30])
print(l)

[10, 20, 25, 40, 30, 'hellow']
[10, 20, 25, 40, [10, 20, 25, 30], 30, 'hellow']

In [ ]:
l=[]
for i in range(5):
    p=int(input("enter positon no:"))
    n=int(input("enter value no:"))
    l.insert(p,n)
    
print(l)
sum=0
for i in l:
    sum=sum+i
print("sum of numbers:",sum)

In [105]:
#EXTEND
l=[10,20,25,30,"hellow"]
l1=["jaipur","jaipur"]
l.extend(l1)
print(l)

[10, 20, 25, 30, 'hellow', 'jaipur', 'jaipur']

In [109]:
#extend
l1=[10,20,30,[100,200,300,["bhopal","indore"],20.5,1000]]
l2=["delhi","nagpur"]
l1[3][3].extend(l2)
print(l1)

l3=["cybrom"]
l2.extend(l3)
print(l2)

[10, 20, 30, [100, 200, 300, ['bhopal', 'indore', 'delhi', 'nagpur'], 20.5, 1000]]
['delhi', 'nagpur', 'cybrom']

In [ ]:
#append 

l1=[10,20,30,[100,200,300,["bhopal","indore"],20.5,1000]]
l2=["delhi","nagpur"]
for i in l2:
    l1[3][3].append(i)
print(l1)

In [115]:
# insert
l1=[10,20,30,[100,200,300,["bhopal","indore"],20.5,1000]]
l2=["delhi","nagpur"]
for i in l2:
    l1[3][3].insert(3,i)
print(l1)

[10, 20, 30, [100, 200, 300, ['bhopal', 'indore', 'delhi', 'nagpur'], 20.5, 1000]]

In [117]:
#pop method
#syntax-listobject.pop([positional]) #optional method
# which means takes deafult value(-1)
#pop method retuens removed element.
# removing of element 
#list.pop(index number)
l1=[10,20,30,100,200,300,"bhopal","indore",20.5,1000]
print(l1.pop())
print(l1)

1000
[10, 20, 30, 100, 200, 300, 'bhopal', 'indore', 20.5]

In [ ]:
#del method -its a kind of keyword
# only difference b/w pop and del is it does not return removed element 
l1=[10,20,30,100,200,300,"bhopal","indore",20.5,1000]
del l1[-4]
print(l1)

In [ ]:
#del indore
l1=[10,20,30,[100,200,300,["bhopal","indore"],20.5],1000]
del l1[-2][-2][-1]
print(l1)

In [ ]:
l1=[10,20,30,[100,200,300,["bhopal","indore"],20.5],1000]
l1[-2][-2].pop()
print(l1)

In [ ]:
# remove
#syntax- listobject.remove(value/element)
l1=[10,20,30,100,200,300,"bhopal","indore",20.5,1000]
l1.remove("bhopal")
l1.remove(1000)
print(l1)

In [119]:
l1=[10,20,30,100,200,300,100,100,100,"bhopal","indore",20.5,1000,100]
for i in l1:
    if i==100:
        l1.remove(i)
print(l1)

[10, 20, 30, 200, 300, 'bhopal', 'indore', 20.5, 1000, 100]

In [ ]:
l1=[10,20,30,100,200,300,300,100,100,100,"bhopal","indore",20.5,1000,100]
for i in l1:
    if i == 100:
        l1.remove(i)
print(l1)

In [ ]:
l1=[10,20,30,100,200,300,100,100,100,"bhopal","indore",20.5,1000,100]
l1.remove(100)
print(l1)

In [ ]:
#clear
l=[10,20,30,100,200,300,100,100,100,"bhopal","indore",20.5,1000]
l.clear()
print(l)

In [121]:
#count
l=[10,20,30,100,200,300,100,100,100,"bhopal","indore",20.5,1000]
c=l.count(100)
print(l.count(100))
print(c)

4
4

In [123]:
# index 
#syntx-listobject.index(value/element)
l=[10,20,30,100,200,"bhopal","indore",20.5,1000]
print(l.index(10))

0

In [ ]:
#sorting methods 
#syntax-listobject.sort([reverse])
#sort method-by default return sorted list in an ascrnding order.
#by default- optional parameter- reverse=false
l1=[10,50,160,1641,685,1005]
l1.sort()
print(l1)

In [ ]:
# decending\
l1=[10,50,160,1641,685,1005]
l1.sort(reverse=True)
print(l1)

In [ ]:
#sorted function
#returns a new list 
#syntax-sorted(parameter/iterable,[revese])
l=[10,50,160,1641,685,1005]
l1=sorted(l)
l2=sorted(l,reverse=True)
print(l1)
print(l2)

In [ ]:
# sorted fuction always returs a list 
tu=(10,50,40,3,0,200,1000,35,3500)
t1=sorted(tu)
print(t1)

In [ ]:
s="cybrom"
s1=sorted(s)
print(s1)

In [ ]:
#logic of sorting ino ascending order
l=[100,1,200,19]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
        print(l)
print(l)

In [ ]:
#logic of sorting ino decending order
l=[100,1,200,19]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]
print(l)

In [125]:
#reverse
#syntax-listobject.reverse()
l=[100,1,200,19]
l.reverse()
print(l)

[19, 200, 1, 100]

In [127]:
l1=[100,1,200,19]
print(l1[::-1])

[19, 200, 1, 100]

In [129]:
# logic of reversing a list (swaping)
l=[100,1,200,19]
for i in range(len(l)):
    for j in range(i+1,len(l)):
            l[i],l[j]=l[j],l[i]
print(l)

[19, 200, 1, 100]

In [ ]:
# question 
l=[(2,5),(1,2),(4,4),(2,3),(2,1)]
for i in range (len(l)):
    for j in range (i+1,len(l)):
        if l[i][-1]>l[j][-1]:
            l[i],l[j]=l[j],l[i]
print(l)

In [ ]:
'''wap to count  the number of strings
from a given list of strings. The string length is 2 or more
and the first and last characters are the same .
expected result :2'''
l=['abc','xyz','aba','1221']
count=0
for i in l:
    if len(i)>=2 and i[0]==i[-1]:
        count=count+1
print(count)

In [ ]:
#tpple denoted by(), and comma seprated values
#odered sequence of element ,immutable ,indexed
#single valued  tupple
t=(90,)
print(type(t))

In [131]:
t=(10,20,20.5,'hello',1000)
for i in t:
    print(i,end=" ")



for i in range(len(t)):
    print(i,t[i])

10 20 20.5 hello 1000 0 10
1 20
2 20.5
3 hello
4 1000

In [135]:
#length
t=(10,20,20.5,'hello',1000)
count=0
for i in t:
    count+=1
print(count)

5

In [137]:
#max
#min
#sum
t=(10,20,20.5,'hello',1000)
#print(max(t)) cant compare different data type"str"& "int"
t1=(10,20,20.5,1000)
print(max(t1))
print(min(t1))
print(sum(t1))

1000
10

TypeError: 'int' object is not callable

In [139]:
#count
t=(10,20,20.5,'hello',1000,'hello',10,50,10)
print(t.count(10))
print(t.count("hello"))

3
2

In [161]:
#index
''' takes 3 parameter tupleobject.index(element,[start],[stop])
if element is not found it gives an error'''
t=(10,20,20.5,'hello',1000,'hello',10,50,10)
print(t.index(10))

0

In [ ]:
t=(10,20,20.5,'hello',1000,'hello',10,50,10)
print(t.index(50,0,7))

In [159]:
t1=(10,20,20.5,'hello',1000,'hello',10,50,10)
t2=(50,20000,84651312,"ram ram")
t=t1+t2
print(t)

(10, 20, 20.5, 'hello', 1000, 'hello', 10, 50, 10, 50, 20000, 84651312, 'ram ram')

In [147]:
# sorted function
t=(10,20,20.5,1000,10,50,10)
l=sorted(t)
print(l)
print(type(l))
t1=tuple(l)
print(t1)

[10, 10, 10, 20, 20.5, 50, 1000]
<class 'list'>
(10, 10, 10, 20, 20.5, 50, 1000)

In [ ]:
#SORTED FUNCTION LOGIC

def sorted1(n,reverse=False):
    l=list(t)
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[i]>l[j]:
                l[i],l[j]=l[j],l[i]
    print(l)

In [ ]:
t=(10,20,20,1000,10,50,10)
sorted1(t,reverse=False)

In [ ]:
# stack-vertical linear structure             #operation 
 '''a)liner data structure                        push-adds element to the last,
 pop-removes the last element,
 peek-displys the last element ,
 display-displays whole list 
   b)it follows -LIFO=last in first out'''
# queue                                       #operation
'''linear data structure                          enqueue,dequeue,front ,rear
if follows FIFO- first in first out

In [ ]:
# count() method - gives you the NO OF TIMES element ouccurS
t=(10,20,20.5,'hello',1000,'hello',10,50,10)
print(t.count(10))
print(t.count("hello"))

In [ ]:
s="welcome to the city of lakes" 
rev_s=""
print(s)
for i in s:
    rev_s=i+rev_s

print(rev_s)

In [ ]:
# stack
l=[]
while True:
    c=int(input('''
    1.push
    2.pop
    3.peek
    4.display
    5.exit'''))
    if c==1:
        n=input(("enter any value:"))
        l.append(n)
        print(l)
    elif c==2:
        if len(l)==0:
            print("empty stack")
        else:
            p=l.pop()
            print(p)
            print(l)
    elif c==3:
        if len(l)==0:
            print("empty stack")
        else:
            print("last element:",l[-1])
    elif c==4:
        print("display stack:",l)

    elif c==5:
        break
    else:
        print("invalid input")

In [ ]:
#queue-linear data structure,fifo
l=[]
while True:
    c=int(input('''
    1.enqueue-add element in queue 
    2.dequeue- remove element
    3.front
    4.rear
    5.display
    6.exit ,
    
    '''))
    if c==1:
        n=input(("enter any value:"))
        l.append(n)
        print(l)
    elif c==2:
        if len(l)==0:
            print("empty queue")
        else:
            del l[0]
            print(l)
    elif c==3:
        if len(l)==0:
            print("empty stack")
        else:
            print("front element:",l[0])
    elif c==4:
        if len(l)==0:
            print("empty stack")
        else:
            print("rear element:",l[-1])

    elif c==5:
        if len(l)==0:
            print("empty queue")
        else:
            print("queue:",l)
    elif c==6:
        break
    else:
        print("invalid input")

In [ ]:
# #wap to find the indexing of element which makes the target sum
# l=[1,2,6,10]         #output{1,3}
# target=12
# sum=0
# for i in l:
#     print(i)
#     for j in range(1,len(l)):
#         print(j)
#         sum=i+j

# print("sum",sum)
#     # if sum==target:
#     #     print(index[i],index[j])

In [ ]:
#important
#wap to find the indexing of element which makes the target sum
l=[1,2,6,10]         #output{1,3}
target=12
sum=0
for i in range(len(l)):
    for j in range(i+1,len(l)):
        sum=l[i]+l[j]
    if sum==target:
        print(sum)
        print("position of first element",i,"position of second element",j)

In [151]:
#list comprihension
# output=[1,8,27,64,125]

l=[]
for i in range(1,6):
    l.append(i**3)

print(l)
print([i**3 for i in range(1,6)]) #example of list comprihension

[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]

In [157]:

#creating a pattern of AB
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
#creating a pattern of AB
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(97+j),end=" ")
    print()

In [ ]:
# dictionary 
#ODERED ,unindexed
#if multiple element have to be given iN A VARIABLE IT HAS TO BE GIVEN IN LIST DATA TYPE

d={"name":"amit","age":25,"sub":"python"}
print(type(d))
print(d)

In [163]:
# TO FETCH THE ELEMENT FROM A KEY IN A LIST 
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}

print(d)
print(d['subject'][1])  # DICTIONARY IS UNINDEXED LIST IS NOT

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000]}
ds

In [165]:
# NEW KEY VALUE PAIR
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
d['subject'][2]='c++'
print(d)

d['name']='cybrom'
print(d)

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'c++'], 'fees': [10000, 20000, 30000]}
{'name': 'cybrom', 'subject': ['da', 'ds', 'c++'], 'fees': [10000, 20000, 30000]}

In [177]:
d={}
l=["amit",'kajal',"ramesh"]
for i in l:
    
    d[name]=l

print(d)

{'amit': ['amit', 'kajal', 'ramesh']}

In [ ]:
#WAP OUTPUT{1:1,2:8,3:27,4:64}
n=5
d={}
for i in range(1,n):
    d[i]=i**3

print(d)
print(type(d))

In [ ]:
# iteration of list 
d={'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'c++'], 'fees': [10000, 20000, 30000]}
for i in d:
    print(i,d[i])

In [167]:
#wap to get output {'red': 3, 'green': 2, 'brown': 1, 'Yellow': 1, 'yellow': 1}
# with this input-["red","green,"brown","Yellow","red","green","yellow"]

l=["red","green","red","brown","Yellow","red","green","yellow"]
d={}
for i in l:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'red': 3, 'green': 2, 'brown': 1, 'Yellow': 1, 'yellow': 1}

In [199]:
#methods of dictionary
'''
get()
keys()
values()
items()
'''
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
#get()
#syntax-dictobject.get(key,[value])
n=d.get("fees") #it returns the values of  key
print(n)

[10000, 20000, 30000]

In [191]:
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
#get()
n=d.get("age",23)
print(n)

23

In [205]:
#keys- takes no argument
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
k=d.keys()
print(k)
print(type(k))

#way of iterating keys of dictionary
for i in d.keys():
    print(i)

dict_keys(['name', 'subject', 'fees'])
<class 'dict_keys'>
name
subject
fees

In [207]:
# values -returns only values from dictionary takes no argument
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
k=d.values()
print(k)

for i in d.values():
    print(i)

dict_values([['abc', 'xyz', 'pqr'], ['da', 'ds', 'java'], [10000, 20000, 30000]])
['abc', 'xyz', 'pqr']
['da', 'ds', 'java']
[10000, 20000, 30000]

In [209]:
#items -# returns both the element of dictionary
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
k=d.items()
print(k)
print(type(k))



for i in d.items():
    print(i)

dict_items([('name', ['abc', 'xyz', 'pqr']), ('subject', ['da', 'ds', 'java']), ('fees', [10000, 20000, 30000])])
<class 'dict_items'>
('name', ['abc', 'xyz', 'pqr'])
('subject', ['da', 'ds', 'java'])
('fees', [10000, 20000, 30000])

In [211]:
#items
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
k=d.items()



for i,j in d.items():            #iterating both key and value with the help of loop 
    print(i)
    print(j)

TypeError: dict.items() takes no arguments (1 given)

In [215]:
# removing of value/element 
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
del d["name"]
print(d)

{'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000]}

In [217]:
# DEL removing of  single value/element  
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
del d["name"][1]
print(d)

{'name': ['abc', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000]}

In [221]:
#pop- dictionary pop takes one argument madnetory 
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
print(d["name"].pop(1))
print(d)

xyz
{'name': ['abc', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000]}

In [223]:
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
d.pop("name")  
print(d)

{'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000]}

In [ ]:
# clear()- takes no arguments 
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
d.clear()  
print(d)

In [225]:
#update
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
d1={"city":"bhopal"}
d.update(d1)
print(d)

d1.update(d)
print(d1)

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000], 'city': 'bhopal'}
{'city': 'bhopal', 'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000]}

In [227]:
 #uodate
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
d.update(city=["bpl","jbp","gwl"])
print(d)

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000], 'city': ['bpl', 'jbp', 'gwl']}

In [ ]:
#DICT-dict is keyword to typecast into dictionary

d=dict(name=['abc','xyz',"pqr"],subject=['da','ds','java'],fees=[10000,20000,30000])
print(d)

In [229]:
d={"brand":{"samsung":{"tv":["amoled","poled","super amloed"],
                       "mobile":["s22","s23","s24"]},"mi":{"tv":["mi1","mi2","mi3"],
                                                           "mobile":["note1","note2","note 3"]}}}
for i ,j in d.items():
    
    print(i,j)

    print(j["samsung"]["tv"])

brand {'samsung': {'tv': ['amoled', 'poled', 'super amloed'], 'mobile': ['s22', 's23', 's24']}, 'mi': {'tv': ['mi1', 'mi2', 'mi3'], 'mobile': ['note1', 'note2', 'note 3']}}
['amoled', 'poled', 'super amloed']

In [231]:
# practice question
l=[0,1,2,3,4]
d={}
for i in l:
    d[chr(65+i)]=i**2
    

print(d)

{'A': 0, 'B': 1, 'C': 4, 'D': 9, 'E': 16}

In [ ]:
'''what is python tokens
,if else,control flow statement,'
leap year,fibonacii serires,armstrong number,
prime,star pattern'''

In [ ]:
#SET-unodered,unindexed,contains unique elements
#constructor
#methods
''' add
pop
remove
discard
clear
update'''


s=set()
print(type(s))

In [237]:
l=[10,20,30,40,50,"hello"]

s=set(l)
print(s)
print(type(s))

# use of add method
s.add(1000)
print(s)

{40, 10, 'hello', 50, 20, 30}
<class 'set'>
{40, 1000, 10, 'hello', 50, 20, 30}

In [239]:
# set
s=set()
l=[10,20,"hello"]
for i in l:
    s.add(i)
print(s)
print(type(s))

{'hello', 10, 20}
<class 'set'>

In [241]:
s=set()
n=int(input("enter the no of element you want to add :"))
for i in range(n):
    n1=int(input("enter values"))
    s.add(n1)
print(s)
print(type(s))

enter the no of element you want to add : 5
enter values 10
enter values 103
enter values 120
enter values 5052
enter values 125

{103, 10, 120, 5052, 125}
<class 'set'>

In [ ]:
#pop()- it takes no argument 
# removes random element from set ,returns a removed element
#setobject.pop()-
s={'hello', 40, 10, 50, 20, 30}
s.pop()
print(s.pop())
print(s)
r=s.pop()
print(s)

In [245]:
#removes-it removes specific values from set 
#it takes one argument only
# it throws key error if value /element is not present key value error
s={'hello', 40, 10, 50, 20, 30}
s.remove("hello")
print(s)

{50, 20, 40, 10, 30}

In [253]:
#discard-takes one argument only 
'''it does not give a error if element is not found '''
s={'hello', 40, 10, 50, 20, 30}
l=[10,20,30]
for i in s:
    for j in l:
        if j==i:
            
            s.discard(i)
# s.discard(40)
print(s)

RuntimeError: Set changed size during iteration

In [ ]:
#clear-takes no argument ,wipes out all elememt

s={'hello', 40, 10, 50, 20, 30}
s.clear()
print(s)

In [ ]:
# UPDATE()-UPDATES ELEMENT IN FIRST SET
# it takes only one argumet that is {iterable or set element}
s1={'hello', 40, 10, 50, 20, 30}
s2={'biradar', 100, 90, 80, 70, }
s1.update(["hh","kk"])
print(s1)
print(s1)

s1.update("cybrom")
print(s1)

In [255]:
# set-methods 
s1={1,2,3,4,5,6,7,8}
s2={7,8,9,10,11,12,13,14,15}
u=s1|(s2) #UNION
i=s1&(s2) #INTERSECTION
d=s1-(s2) #DIFFERENCE
s_d=s1^(s2) #SYMMETRIC_DIFFERENCE
print(u)
print(i)
print(d)
print(s_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{8, 7}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
s1={'A','B','C','D','E','F','G','H'}
s2={'B','C','D','E','k'}
#outputs
#{'A', 'H', 'G', 'F'}
#{'B', 'D', 'E', 'C'}
#{'F', 'H', 'k', 'A', 'G'}


print(s1-s2)
print(s1&s2)
print(s1^s2)


print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

In [ ]:
#frozenset -only immutable and unique element data type 
#identity of frozenset-frozenset()



l=['A', 'H', 'G', 'F']
t=('F', 'H', 'k', 'A', 'G')
f_s=frozenset(l)
print(type(l))
print(type(f_s))
f_t=frozenset(t)
print(f_t)

In [257]:
s="welcome to cybrom"
f_z=frozenset(s)
print(f_z)
print(len(f_z))

frozenset({'c', 't', 'w', 'b', 'm', ' ', 'r', 'l', 'e', 'y', 'o'})
11

In [ ]:
#frozenset
f_s={1, 2, 3,frozenset({1,2,3,4,5,6}), 4, 5, 6}
print(f_s)
s=frozenset({1, 2, 3,{1,2,3,4,5,6}, 4, 5, 6})
print(s)

In [261]:
#sorting of tuple
t=(1,100,19,21,1000,16,12)
l=list(t)
print(t)
#output(1000,100,21,19,16,12,1)
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]

print(l)
print(tuple(l))

(1, 100, 19, 21, 1000, 16, 12)
[1000, 100, 21, 19, 16, 12, 1]
(1000, 100, 21, 19, 16, 12, 1)

In [263]:
#WAP p="abc",q="xyz output("ayz xbc") 

p="abc"
q="xyz"

print(p[0]+q[1:3]+" "+q[0]+p[1:3])

ayz xbc

In [265]:
# dictionary comprehensiion
#d{1:1,2:4,3:9,4:16,5:25}
n=5
d={}
for i in range(1,n+1):
    d[i]=i**2

print(d)
print({i:i**2 for i in range(1,6)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [267]:
#list comprehemsion
print([i**2 for i in range (1,6)])

l=[]                            #syntax=[expression  conditional/comtrol flow statement]
for i in range(1,6):
    l.append(i**2)

print(l)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [277]:
l1=[1,5,3,2]
l2=[2,1,3,3]

#{1:1,5:5,3:27,2:8} solve with dictionary comprehension

print({i:i**j for i,j in zip(l1,l2) })
print({i:i**j for i in l1 for j in l2})

{1: 1, 5: 5, 3: 27, 2: 8}
{1: 1, 5: 125, 3: 27, 2: 8}

In [ ]:
#output{'a':1,'c':9,'e':25,'g':49}
# print({chr(97+i)=i**2 for i in range(5)})

d={}
for i in range(1,8,2):
    d[chr(96+i)]=i**2

print(d)
print({chr(96+i):i**2 for i in range(1,8,2)})

In [ ]:
# FUNCTION

In [ ]:
def avg(n):
    count=1
    sum=0
    for i in range(n):
        n1=int(input("enter any number:"))
        count+=1
        sum=sum+n1
        average=sum/count

    print("average of numbers",average)

In [ ]:
avg(5)

In [ ]:
l=[1,5,12,2,5,6,5,3,8,5,8,2]
l.sort()
print(l)

In [ ]:
l=[1,5,12,2,5,6,5,3,8,5,8,2]
def median(l):
    l1=sorted(l)
    mid=len(l1)//2
    if len(l1)%2!=0:
        mv=l1[mid]
        print("median:",mv)
    else:
        mv=(l1[mid-1]+l1[mid])/2
        print("median of list",mv)

In [ ]:
l=[1,5,10,12,2,5,6,5,3,8,5,8,2]
median(l)

In [ ]:
l=[1,5,12,2,5,6,5,3,8,5,8,2]
def mean(l):
    count=0
    sum=0
    for i in range(len(l)):
        count+=1
        sum=sum+i
        mean=sum/count

    print("average of numbers",mean)

In [ ]:
l=[1,5,12,2,5,6,5,3,8,5,8,2]
mean(l)

In [ ]:
l=[1,5,12,2,5,6,5,3,8,5,8,2]
d={}
for i in l:
    if i in d:
        d[i]+=1
    else:
        d[i]=1

print(d)
m=max(d.values())
print("mode of list",[i for i,j in d.items() if j==m])

In [ ]:
#fuction- is block of code used to perform a specific task .
''' increses reusability,maintain ability, '''
#syntax- def function(): # declare function\
                #block of code
#functionname()   #function calling

In [ ]:
# without  argument without return type
# with  argument without return type
# without  argument with return type
# with  argument with return type

In [ ]:
#fibonacii series
def fibo(n):
    fib=[0,1]
    for i in range(2,n):
        nt=fib[-1]+fib[-2]
        fib.append(nt)
    return fib

In [ ]:
fibo(5)

In [ ]:
# armstrong number fuction
def armstrong(n):
    a=len(str(n))
    old=n
    sumdigit=0
    while n!=0:
        dig=n%10
        sumdigit=sumdigit+(dig**a)
        n=n//10
    return sumdigit==old

In [ ]:
#callinng of armstrong
x=int(input("enter any number:"))
if armstrong(x):
    print(x,"no is armstrong number")
else:
    print(x, "is not a armstrong number")

In [ ]:
#wap fucntion to check weather a no is prime or not witr argument with returnt type.
#wap function to print(prime no upto N th term) with two argument start and end.

In [ ]:
def prime(50)

In [ ]:
#wap fucntion to check weather a no is prime or not with argument with returnt type.
def prime(n):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                print(n,"not a prime no ")
            
            else:
                print(" prime no ")
            break
    else:
        print("not a prime no :")

In [ ]:
prime(7)

In [ ]:
prime(-1)

In [ ]:
#wap function to print(prime no upto N th term) with two argument start and end.
x=int(input("enter start point:"))
y=int(input("enter end point:"))
for num in range(x,y+1):
    if num>1:

In [ ]:
def prime(x,y):
    l = []
    if x>1 and y>1:
        for i in range(x,y+1):
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                l.append(i)
        return l
    else:
        print("choose another number")

In [ ]:
prime(2,31)

In [ ]:
n=10
sum=0
for i in range(n+1):
    sum=sum+i
print(sum)

In [ ]:
#recursion function-when function call it self within a function
def sum(n):
    if n==1:
        return n
    else:
        return n+sum(n-1)

In [ ]:
sum(10)

In [ ]:
def fct(n):
    if n==1:
        return n
    else:
        return n*fct(n-1)

In [ ]:
fct(5)

In [ ]:
def div(n):
    if n==1:
        return n
    else:
        return n/div(n-1)

In [ ]:
div(5)

In [ ]:
def max_2(a,b):
        if a>b:
            return a
        else:
            return b

In [ ]:
#wap fucntion to get highest no among three number
def max_3(a,b,c):
    if c>max_2(a,b):
        return c
    else:
        return max_2(a,b)

In [ ]:
max_3(3,5,6)

In [ ]:
max_3(6,5,2)

In [ ]:
max_3(5,6,2)

In [ ]:
def max_three(a,b,c):
    return max_2(a,max_2(b,c))

In [ ]:
max_three(100,10,30)

In [ ]:
#make a function of fibbonacii 
def fib():
    a=0
    b=1
    n=int(input("enter any term:"))
    print(a,b,end=" ")
    for i in range(n):
        c=a+b
        a=b
        b=c
        print(c,end=" ")

In [5]:
#recusrsion
def fibb(n):
    if n<=1:
        return n 
    else:
        return fibb(n-1)+fibb(n-2)

In [9]:
n1=int(input("enter the no of term"))
if n1<=0:
    print("enter positive int:")
else:
    for i in range(n1):
        print(fibb(i),end=" ")

enter the no of term 5

0 1 1 2 3

In [1]:
#lamda function-is a small anonymous function /a function without name 
#it can take any no of arguments but can only have one expression.
#lamda function mostly work with highn order function-map,reduce,filter

In [5]:
#lamda function 
#syntax-lambda arguments:expression
x_sum=lambda a:a+10
print(x_sum(50))

60

In [9]:
y_max=lambda a,b:a if a>b else b
print(y_max(110,250))

250

In [17]:
y_maxx=lambda a,b,c: a if a>b else b if b>c else c
print(y_maxx(100,200,50))

200

In [3]:
#map function

In [ ]:
#fillter-
#fillter(function,iterables)

In [43]:
def filter_list(l):
    l2=[]
    for i in l:
        if i>=18:
            l2.append(i)
            
    return l2

In [33]:
l1=[5,8,19,18,60,50,9,10]
g_18(l1)

[19, 18, 60, 50]

In [35]:
l1=[5,8,19,18,60,50,9,10]

print(list(filter(lambda i:i>=18,l1)))

[19, 18, 60, 50]

In [56]:
l1=[5,8,19,18,60,50,9,10]
print(list(filter(filter_list(l1))))

[19, 18, 60, 50]

In [1]:
l=["madam","cybrom","bb","nitin","motor"]
print(list(filter(lambda i:i[::]==i[::-1],l)))

['madam', 'bb', 'nitin']

In [1]:
l=["madam","cybrom","bb","nitin","motor"]
print(list(filter(lambda i:i[::]==i.reverse(),l)))

AttributeError: 'str' object has no attribute 'reverse'

In [7]:
l=[1,4,15,18,26,39,11,65,123,221]

#output-[26,39,65,221]
print(list(filter(lambda i:i%13==0,l)))
3

[26, 39, 65, 221]

In [4]:
#reduce
#functool_library-> import functool as f

In [70]:
l=[1,2,3,4,5,6,7,8,9,10]
from functools import reduce
print(reduce(lambda x,y:x+y,l))
print(reduce(lambda x,y:x+y,l,100))

55
155

In [68]:
l=[10,20,100,-19,1,1000]
from functools import reduce
print(reduce(lambda x,y: x if x>y else y,l))
print(reduce(lambda x,y: x if x<y else y,l))

1000
-19

In [72]:
def maxx(x,y):
    if x>y:
        return x
    return y


def minn(x,y):
    if x<y:
        return x
    return y


def avgg(l):
    sum=0
    count=len(l)
    for i in l:
        sum+=i/count
        
l=[10,20,100,-19,1,1000]
print(reduce(maxx,l))
print(reduce(minn,l))

1000
-19