In [ ]:
new_variable ="cybrom"
new2_variable ="  cybrom"
print(new2_variable)

In [ ]:
a=int(input("enter the number 1 "))
b=int(input("enter the number 2 "))
print("squre of a and b = ", a**b)

In [ ]:

# WAP TO PROINT WEARHER A USER ELIGIBLE TO VOTE OR NOT
a=int(input("enter your age "))
if(a>18):
    print("user eligible for voting")
else:
    print("user not eligible for ")

user eligible for voting

In [7]:
print("ashish")

ashish

In [21]:
#WAP TO PRINT WEATHER A LAST DIGIT OF ANY NUMBER IS DIVISIBLE BY 3 OR NOT
a = int(input(" enter the number "))
b = a%10
if(b%3==0):
    print("number is divisible by 3")
else:   
    print("number is not divisible by 3")

number is not divisible by 3

In [23]:
#WAP TO FIND THE LARGEST NO AMAONG THREE NUMBERS
a = int(input(" enter the number 1"))
b = int(input(" enter the number 2"))
c = int(input(" enter the number 3"))
if(a>b and a>c):
    print("number 1 is great 2 and 3 ->", a)
elif(b>c and b>a):
    print("number 2 is great 1 and 3 ->", b)
else:
    print("number 3 is great 1 and 2 ->", c)

number 3 is great 1 and 2 -> 3

In [28]:
 #WAP to find weather a year is a leap year or not
a = int(input("enter the year"))
if(a%4==0):
    print("leap year")
else:
    print("not leap year")

leap year

In [ ]:
 #WAP TO CHECK NO IF ITS NEGETIVE POSITIVE OR ZERO AND IF ITS POSITIVE CHECK WHES=ATHER ITS ODD OR EVEN
a = int(input("enter the number "))
if(a>0):
    print("number is positive")
    if(a%2==0):
        print("number is even")
    else:
        print("number is odd")
elif(a<0):
    print("number is negetive")
else:
    print("number is zero")

number is negetive
number is odd

In [4]:
#WAP to find discount and final selling price Of article 
#if  MRP is greater to 1000 then discount will be 10% and 
#if mrp  is less than 1000 then discount is 5%

a =int (input("enter amount"))
if(a>=1000):
   b= (a*10)/100
   print("final amount is ",a-b)
else:
    b= (a*5)/100
    print("final amount is =",a-b)

final amount is = 570.0

In [3]:
 #WAP TO PRINT FIRST 10 NATURAL NO (IN A SINGLE LINE)
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
#wap TO PRINT FIRST 10 WHOLE NO
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
 #wap to PRINT FIRST 10 EVEN AND 10 ODD NO
print("even number")
for i in range(2,21,2):
    print(i,end=" ")

print(end=" ")
print("odd number")
for i in range(1,21,2):
    print(i,end=" ")

even number
2 4 6 8 10 12 14 16 18 20  odd number
1 3 5 7 9 11 13 15 17 19

In [19]:
 #wap to print first n natural no
n = int(input("enter number"))
for i in range(1,n+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44

In [23]:
#WAP TO PRINT SUM OF FIRST N NATURAL NUMBER
sum = 0
n = int(input("enter number"))
for i in range(1,n+1):
    # print(i,end=" ")
    sum=sum +i
print(sum,end=" ")

15

In [29]:
 #multiplication of n natural no
mul = 1
n = int(input("enter number"))
for i in range(1,n+1):
    # print(i,end=" ")
    mul=mul *i
print(mul,end=" ")

120

In [10]:
#wap to print sum of first n even and odd no
n=int (input("enter n"))
sume =0
for i in range(2,n+1,2):
    sume =sume+i
print(sume,end=" ")
print()

# print(end=" ")
# print("odd number")
sumo=0
for i in range(1,n+1,2):
    sumo= sumo+i
print(sumo,end=" ")

6
9

In [12]:
#wap to print sum of first n even and odd no with count
n=int (input("enter n"))
sume =0
for i in range(2,n+1,2):
    sume =sume+i
print("even ", sume,end=" ")
print()

# print(end=" ")
# print("odd number")
sumo=0
for i in range(1,n+1,2):
    sumo= sumo+i
print(i,"odd ", sumo,end=" ")

even  6
5 odd  9

In [17]:
#wap to print sum of first n even and odd no with count
n=int (input("enter n"))
# sume =0
# sumo =0
for i in range(n+1):
  if(n%2==0):
    print("even ",i,end=" ")
else:
    print("odd ",i,end=" ")

even  0 even  1 even  2 even  3 even  4 even  5 even  6 even  7 even  8 even  9 even  10 odd  10

In [30]:
#WAP TO PRINT FACTORIAL OF GIVEN NO with help of negetive steping.
fact = 1
n = int(input("enter number"))
for i in range(n+1,1,-1):
    # print(i,end=" ")
    fact=fact *i
print(fact,end=" ")

720

In [ ]:
#wap to check weather a no is prime or not

In [ ]:
 
#wap to fund withdrawl and to show case avilable fund
a = int (input("enter the withdrawl amount"))

In [7]:
char = input("enter value ")
if char.isupper():
    print("the number upper case")
elif char.islower():
    print("the number is lower case")
else:
    print("the numbe is naither upper nor lower")

the numbe is naither upper nor lower

In [11]:
a = input("Enter charcter")
if a.isdigit():
    print("the character is digit")
elif a.isalpha():
    print("the character is alphabet")
else :
    print("the character is special chararcter")

the character is special chararcter

In [21]:
a = "we are in cybrom"
# print(a[1])
# print(a[10:16])
print(a[10:16:2])
# print(a[-1:-7:-1])
# print(a[-7:-1:1])
# print(a[::-1])
# print(a[-6::1])
# print(a[5::])

e in cybrom

In [22]:
# str1= "cybrom indrapuri"
# str2= str1.upper()
# print(str2)


# argument instructor
# keyword instructor
s_class =input("enter the class")
center = input("enter the center")
strength =int(input("enter the class streng"))
# print(f"  class is {s_class} center is {center} and strenght is {strength}")
print("  class is {} center is {} and strenght is {}".format(s_class,center,strength))

# unstructure data storede = semi lake

  class is btech center is indra and strenght is 28

In [23]:
# function
str1= "cybrom indrapuri"
str2= str1.upper()
print(str2)

CYBROM INDRAPURI

In [24]:

str1= "CYbrom indrapuri"
str2= str1.lower()
print(str2)

cybrom indrapuri

In [25]:
str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

Cybrom indrapuri

In [27]:
str1= "cybrom indrapuri"
# str2= str1.endswith("indrapuri")
str2= str1.endswith("i")
print(str2)

False

In [28]:

str1= "cybrom indrapuri"
str2= str1.startswith("cybrom")
print(str2)

True

In [31]:

str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

print(f"original string {str1}")
print(f"returned string {str2}")

Cybrom indrapuri
original string cybrom indrapuri
returned string Cybrom indrapuri

In [32]:
# function
str1= "cybrom indrapuri"
str2= str1.find("n")
# str2= str1.find("t")
print(str2)

str1= "cybrom indrapuri"
# str1[5] = "d"   value assign nhi kar sakte hai but replace kar sakte h
str2 = str1.replace("indrapuri","mpnagar")
print(str2)
print(str2.split(","))

s = "apple , banana, grape"
print(s.split(","))

8
cybrom mpnagar
['cybrom mpnagar']
['apple ', ' banana', ' grape']

In [33]:
str1 = "     cybrom indrapuri     "
str2 = str1.strip()
print(str2)


str1 = "     cybrom indrapuri     "
str2 = str1.lstrip()
print(str2)

str1 = "     cybrom indrapuri     "
str2 = str1.rstrip()
print(str2)

# str1 = "python"
# str2 = str1.upper()
# print(str2)

cybrom indrapuri
cybrom indrapuri
     cybrom indrapuri

In [36]:
# every eliment with alist is comma sapreted
# mutebale in nature
# homogenious
# we can create empty list as well

# a =[1,2,3,4] # single diamantional
# print(type(a))

# a =[1,"cybrom",2,0.6]
# print(type(a))
# a = []
# print(a)

b = [1,2,3,[4,5,6,[7,8,9]]]   #multi diamantional
# print(b[3][3][1])
print(b[-2])


# a =[1,2,3,4] # single diamantional
# print(a[-1])

# a = ["DA", "DS","FULLstack"]
# print(a[0])
# print(a[-1])


# method
# a = ["DA", "DS","FULLstack"]
# print(a.append(1))

# append
# extend

3

In [37]:
list_of_number = [1,2,4,6,11,14,17,20]
a = []
for i in list_of_number:
    square = i*i
    print(square)
    a.append(square)
print(a)

1
4
16
36
121
196
289
400
[1, 4, 16, 36, 121, 196, 289, 400]

In [38]:
# for i in range(5):
#     print(i)

# range
# start
# stop
# stepsize
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [40]:
ashish =  "i am student" 
for a in ashish:
    print(a,end=" ")

i   a m   s t u d e n t

In [ ]:
n = int(input("enetr any number "))
if n==0 or n==1:
    print("not a prime number")
elif n>1:
     for i in range(2,n):
          if n%i==0:
               print("not a prime number")
               break
     else:
               print("prime number")
else:
     print("Not prime")

not a prime number
not a prime number
not a prime number
not a prime number
prime number

In [2]:
#WAP to find weather a year is a leap year or not

a = int(input("enter the year"))
# if(a%4==0 and a!=100):
if(a%4 == 0):
    print(f"The {a} is a leap year")
else:
    print(f"The {a} is not a leap year")

The 57 is not a leap year