In [ ]:
new_variable ="cybrom"
new2_variable ="  cybrom"
print(new2_variable)

In [ ]:
a=int(input("enter the number 1 "))
b=int(input("enter the number 2 "))
print("squre of a and b = ", a**b)

In [ ]:

# WAP TO PROINT WEARHER A USER ELIGIBLE TO VOTE OR NOT
a=int(input("enter your age "))
if(a>18):
    print("user eligible for voting")
else:
    print("user not eligible for ")

user eligible for voting

In [1]:

# WAP TO PROINT WEARHER A USER ELIGIBLE TO VOTE OR NOT
a=int(input("enter your age "))
if(a>18):
    print("user eligible for votinggggggggggg")
else:
    print("user not eligible forrrrrrrrrrr ")

user not eligible forrrrrrrrrrr

In [1]:

# WAP TO PROINT WEARHER A USER ELIGIBLE TO VOTE OR NOT
a=int(input("enter your age "))
if(a>18):
    print("user eligible for votinggggggggggg")
else:
    print("user not eligible forrrrrrrrrrrrrrrrrrrrr ")

user eligible for votinggggggggggg

In [1]:

# WAP TO PROINT WEARHER A USER ELIGIBLE TO VOTE OR NOT
a=int(input("enter your age "))
if(a>18):
    print("user eligible for votinggggggggggggggggggggg")
else:
    print("user not eligible forrrrrrrrrrrrrrrrrrrrr ")

user not eligible forrrrrrrrrrrrrrrrrrrrr

In [7]:
print("ashish")

ashish

In [21]:
#WAP TO PRINT WEATHER A LAST DIGIT OF ANY NUMBER IS DIVISIBLE BY 3 OR NOT
a = int(input(" enter the number "))
b = a%10
if(b%3==0):
    print("number is divisible by 3")
else:   
    print("number is not divisible by 3")

number is not divisible by 3

In [1]:
#WAP TO PRINT WEATHER A LAST DIGIT OF ANY NUMBER IS DIVISIBLE BY 3 OR NOT
a = int(input(" enter the number "))
b = a%10
if(b%3==0):
    print("number is divisible by 3 three")
else:   
    print("number is not divisible by 3")

number is not divisible by 3

In [23]:
#WAP TO FIND THE LARGEST NO AMAONG THREE NUMBERS
a = int(input(" enter the number 1"))
b = int(input(" enter the number 2"))
c = int(input(" enter the number 3"))
if(a>b and a>c):
    print("number 1 is great 2 and 3 ->", a)
elif(b>c and b>a):
    print("number 2 is great 1 and 3 ->", b)
else:
    print("number 3 is great 1 and 2 ->", c)

number 3 is great 1 and 2 -> 3

In [28]:
 #WAP to find weather a year is a leap year or not
a = int(input("enter the year"))
if(a%4==0):
    print("leap year")
else:
    print("not leap year")

leap year

In [1]:
a=int(input("enter the number 1 "))
b=int(input("enter the number 2 "))
print("squre of a and b = ", a**b)

squre of a and b =  8

In [1]:
a=int(input("enter the number 1 "))
b=int(input("enter the number 2000000000 "))
print("squre of a and b = ", a**b)

squre of a and b =  3552713678800500929355621337890625

In [1]:
a=int(input("enter the number 1000000000 "))
b=int(input("enter the number 2000000000 "))
print("squre of a and b = ", a**b)

squre of a and b =  7355827511386641

In [ ]:
 #WAP TO CHECK NO IF ITS NEGETIVE POSITIVE OR ZERO AND IF ITS POSITIVE CHECK WHES=ATHER ITS ODD OR EVEN
a = int(input("enter the number "))
if(a>0):
    print("number is positive")
    if(a%2==0):
        print("number is even")
    else:
        print("number is odd")
elif(a<0):
    print("number is negetive")
else:
    print("number is zero")

number is negetive
number is odd

In [1]:
 #WAP TO CHECK NO IF ITS NEGETIVE POSITIVE OR ZERO AND IF ITS POSITIVE CHECK WHES=ATHER ITS ODD OR EVEN
a = int(input("enter the number "))
if(a>0):
    print("number is positive")
    if(a%2==0):
        print("number is eeeeven")
    else:
        print("number is oooodd")
elif(a<0):
    print("number is negetive")
else:
    print("number is zero")

number is positive
number is oooodd

In [1]:
 #WAP TO CHECK NO IF ITS NEGETIVE POSITIVE OR ZERO AND IF ITS POSITIVE CHECK WHES=ATHER ITS ODD OR EVEN
a = int(input("enter the number "))
if(a>0):
    print("number is positive")
    if(a%2==0):
        print("number is eeeeven")
    else:
        print("number is oooodd")
elif(a<0):
    print("number is negetive")
else:
    print("number is zero000000000")

number is positive
number is oooodd

In [1]:
 #WAP TO CHECK NO IF ITS NEGETIVE POSITIVE OR ZERO AND IF ITS POSITIVE CHECK WHES=ATHER ITS ODD OR EVEN
a = int(input("enter the number "))
if(a>0):
    print("number is positive")
    if(a%2==0):
        print("number is eeeeven")
    else:
        print("number is oooodd")
elif(a<0):
    print("number is negetive")
else:
    print("number is zero000000000")

number is positive
number is eeeeven

In [4]:
#WAP to find discount and final selling price Of article 
#if  MRP is greater to 1000 then discount will be 10% and 
#if mrp  is less than 1000 then discount is 5%

a =int (input("enter amount"))
if(a>=1000):
   b= (a*10)/100
   print("final amount is ",a-b)
else:
    b= (a*5)/100
    print("final amount is =",a-b)

final amount is = 570.0

In [3]:
 #WAP TO PRINT FIRST 10 NATURAL NO (IN A SINGLE LINE)
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
#wap TO PRINT FIRST 10 WHOLE NO
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
 #wap to PRINT FIRST 10 EVEN AND 10 ODD NO
print("even number")
for i in range(2,21,2):
    print(i,end=" ")

print(end=" ")
print("odd number")
for i in range(1,21,2):
    print(i,end=" ")

even number
2 4 6 8 10 12 14 16 18 20  odd number
1 3 5 7 9 11 13 15 17 19

In [1]:
 #wap to PRINT FIRST 10 EVEN AND 10 ODD NO
print("even number")
for i in range(2,21,2):
    print(i,end=" ")

print(end=" ")
print("odd number")
for i in range(1,21,3):
    print(i,end=" ")

even number
2 4 6 8 10 12 14 16 18 20  odd number
1 4 7 10 13 16 19

In [1]:
 #wap to PRINT FIRST 10 EVEN AND 10 ODD NO
print("even number")
for i in range(2,21,2):
    print(i,end=" ")

print(end=" ")
print("odd nuuuuuuuuuuuumber")
for i in range(1,21,3):
    print(i,end=" ")

even number
2 4 6 8 10 12 14 16 18 20  odd nuuuuuuuuuuuumber
1 4 7 10 13 16 19

In [2]:
 #wap to PRINT FIRST 10 EVEN AND 10 ODD NO
print("even numbehhhhhhhhhhhhhhr")
for i in range(2,21,6):
    print(i,end=" ")

print(end=" ")
print("odd nuuuuuuuuuuuumber")
for i in range(1,21,3):
    print(i,end=" ")

even numbehhhhhhhhhhhhhhr
2 8 14 20  odd nuuuuuuuuuuuumber
1 4 7 10 13 16 19

In [19]:
 #wap to print first n natural no
n = int(input("enter number"))
for i in range(1,n+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44

In [23]:
#WAP TO PRINT SUM OF FIRST N NATURAL NUMBER
sum = 0
n = int(input("enter number"))
for i in range(1,n+1):
    # print(i,end=" ")
    sum=sum +i
print(sum,end=" ")

15

In [29]:
 #multiplication of n natural no
mul = 1
n = int(input("enter number"))
for i in range(1,n+1):
    # print(i,end=" ")
    mul=mul *i
print(mul,end=" ")

120

In [1]:
 #multiplication of n natural no
mul = 1
n = int(input("enter numberrrrrrrrrrrr"))
for i in range(1,n+1):
    # print(i,end=" ")
    mul=mul *i
print(mul,end=" ")

25852016738884976640000

In [1]:
 #multiplication of n natural no
mul = 1
n = int(input("enterrrrrrrrrrrrrrrrr numberrrrrrrrrrrr"))
for i in range(1,n+1):
    # print(i,end=" ")
    mul=mul *i
print(mul,end=" ")

2

In [2]:
#reverse number print
a= int(input("enter value......................."))
rev=0
while a!=0:
    digit=a%10
    rev=(rev*10)+digit
    a=a//10
print(" ",rev)

  5

In [10]:
#wap to print sum of first n even and odd no
n=int (input("enter n"))
sume =0
for i in range(2,n+1,2):
    sume =sume+i
print(sume,end=" ")
print()

# print(end=" ")
# print("odd number")
sumo=0
for i in range(1,n+1,2):
    sumo= sumo+i
print(sumo,end=" ")

6
9

In [12]:
#wap to print sum of first n even and odd no with count
n=int (input("enter n"))
sume =0
for i in range(2,n+1,2):
    sume =sume+i
print("even ", sume,end=" ")
print()

# print(end=" ")
# print("odd number")
sumo=0
for i in range(1,n+1,2):
    sumo= sumo+i
print(i,"odd ", sumo,end=" ")

even  6
5 odd  9

In [17]:
#wap to print sum of first n even and odd no with count
n=int (input("enter n"))
# sume =0
# sumo =0
for i in range(n+1):
  if(n%2==0):
    print("even ",i,end=" ")
else:
    print("odd ",i,end=" ")

even  0 even  1 even  2 even  3 even  4 even  5 even  6 even  7 even  8 even  9 even  10 odd  10

In [30]:
#WAP TO PRINT FACTORIAL OF GIVEN NO with help of negetive steping.
fact = 1
n = int(input("enter number"))
for i in range(n+1,1,-1):
    # print(i,end=" ")
    fact=fact *i
print(fact,end=" ")

720

In [ ]:
#wap to check weather a no is prime or not

In [ ]:
 
#wap to fund withdrawl and to show case avilable fund
a = int (input("enter the withdrawl amount"))

In [7]:
char = input("enter value ")
if char.isupper():
    print("the number upper case")
elif char.islower():
    print("the number is lower case")
else:
    print("the numbe is naither upper nor lower")

the numbe is naither upper nor lower

In [11]:
a = input("Enter charcter")
if a.isdigit():
    print("the character is digit")
elif a.isalpha():
    print("the character is alphabet")
else :
    print("the character is special chararcter")

the character is special chararcter

In [21]:
a = "we are in cybrom"
# print(a[1])
# print(a[10:16])
print(a[10:16:2])
# print(a[-1:-7:-1])
# print(a[-7:-1:1])
# print(a[::-1])
# print(a[-6::1])
# print(a[5::])

e in cybrom

In [1]:
# str1= "cybrom indrapuri"
# str2= str1.upper()
# print(str2)


# argument instructor
# keyword instructor
s_class =input("enter the class")
center = input("enter the center")
strength =int(input("enter the class streng"))
# print(f"  class is {s_class} center is {center} and strenght is {strength}")
print("  class is {} center is {} and strenght is {}".format(s_class,center,strength))

# unstructure data storede = semi lake

  class is 4 center is 1 and strenght is 1

In [23]:
# function
str1= "cybrom indrapuri"
str2= str1.upper()
print(str2)

CYBROM INDRAPURI

In [24]:

str1= "CYbrom indrapuri"
str2= str1.lower()
print(str2)

cybrom indrapuri

In [25]:
str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

Cybrom indrapuri

In [27]:
str1= "cybrom indrapuri"
# str2= str1.endswith("indrapuri")
str2= str1.endswith("i")
print(str2)

False

In [28]:

str1= "cybrom indrapuri"
str2= str1.startswith("cybrom")
print(str2)

True

In [31]:

str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

print(f"original string {str1}")
print(f"returned string {str2}")

Cybrom indrapuri
original string cybrom indrapuri
returned string Cybrom indrapuri

In [2]:
# function
str1= "cybrom indrapuri"
str2= str1.find("n")
# str2= str1.find("t")
print(str2)

str1= "cybrom indrapuri"
# str1[5] = "d"   value assign nhi kar sakte hai but replace kar sakte h
str2 = str1.replace("indrapuri","mpnagar")
print(str2)
print(str2.split(","))

s = "apple , banana, grape"
print(s.split(","))

8
cybrom mpnagar
['cybrom mpnagar']
['apple ', ' banana', ' grape']

In [33]:
str1 = "     cybrom indrapuri     "
str2 = str1.strip()
print(str2)


str1 = "     cybrom indrapuri     "
str2 = str1.lstrip()
print(str2)

str1 = "     cybrom indrapuri     "
str2 = str1.rstrip()
print(str2)

# str1 = "python"
# str2 = str1.upper()
# print(str2)

cybrom indrapuri
cybrom indrapuri
     cybrom indrapuri

In [36]:
# every eliment with alist is comma sapreted
# mutebale in nature
# homogenious
# we can create empty list as well

# a =[1,2,3,4] # single diamantional
# print(type(a))

# a =[1,"cybrom",2,0.6]
# print(type(a))
# a = []
# print(a)

b = [1,2,3,[4,5,6,[7,8,9]]]   #multi diamantional
# print(b[3][3][1])
print(b[-2])


# a =[1,2,3,4] # single diamantional
# print(a[-1])

# a = ["DA", "DS","FULLstack"]
# print(a[0])
# print(a[-1])


# method
# a = ["DA", "DS","FULLstack"]
# print(a.append(1))

# append
# extend

3

In [37]:
list_of_number = [1,2,4,6,11,14,17,20]
a = []
for i in list_of_number:
    square = i*i
    print(square)
    a.append(square)
print(a)

1
4
16
36
121
196
289
400
[1, 4, 16, 36, 121, 196, 289, 400]

In [38]:
# for i in range(5):
#     print(i)

# range
# start
# stop
# stepsize
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [40]:
ashish =  "i am student" 
for a in ashish:
    # print(a,end=" ")

i   a m   s t u d e n t

In [ ]:
n = int(input("enetr any number "))
if n==0 or n==1:
    print("not a prime number")
elif n>1:
     for i in range(2,n):
          if n%i==0:
               print("not a prime number")
               break
     else:
               print("prime number")
else:
     print("Not prime")

not a prime number
not a prime number
not a prime number
not a prime number
prime number

In [2]:
#WAP to find weather a year is a leap year or not

a = int(input("enter the year"))
# if(a%4==0 and a!=100):
if(a%4 == 0):
    print(f"The {a} is a leap year")
else:
    print(f"The {a} is not a leap year")

The 57 is not a leap year

In [8]:
a = "we are in cybrom"
print(a[1])
print(a[10:16])
print(a[10:16:2])
print(a[-1:-7:-1])
print(a[-7:-1:1])
print(a[::-1])
print(a[-6::1])
print(a[5::])

e
cybrom
cbo
morbyc
 cybro
morbyc ni era ew
cybrom
e in cybrom

In [2]:
a = "we are in cybrom"
print(a[1])

e

In [9]:
# function
str1= "cybrom indrapuri"
str2= str1.upper()
print(str2)

str1= "CYbrom indrapuri"
str2= str1.lower()
print(str2)

str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

str1= "cybrom indrapuri"
# str2= str1.endswith("indrapuri")
str2= str1.endswith("i")
print(str2)

str1= "cybrom indrapuri"
str2= str1.startswith("cybrom")
print(str2)


str1= "cybrom indrapuri"
str2= str1.startswith("cybrom")
print(str2)
str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)
print(f"original string {str1}")
print(f"returned string {str2}")

# method
# print(len(str1))

CYBROM INDRAPURI
cybrom indrapuri
Cybrom indrapuri
True
True
True
Cybrom indrapuri
original string cybrom indrapuri
returned string Cybrom indrapuri

In [5]:
str1 = "cybrom indrapuri"
str2 = str1.upper()
print(str2)

# str1 = "cybrom indrapuri"
s = str2.isupper()
print(s)

str1 = "cybrom indrapuri"
str2 = str1.lower()
print(str2)

str1 = "cybrom indrapuri"
str2 = str1.islower()
print(str2)

CYBROM INDRAPURI
True
cybrom indrapuri
True

In [1]:
str1 = "cybrom indrapuri"
str2 = str1.upper()
print(str2)

# str1 = "cybrom indrapuri"
s = str2.isupper()
print(s)

str1 = "cybrom indrapuri"
str2 = str1.lower()
print(str2)

str1 = "cybrom indrapuri"
str2 = str1.islower()
print(str2)
/

CYBROM INDRAPURI
True
cybrom indrapuri
True

In [ ]:
str1 = "cybrom indrapuri"
str2 = str1.upper()
print(str2)

# str1 = "cybrom indrapuri"
s = str2.isupper()
print(s)

str1 = "cybrom indrapuri"
str2 = str1.lower()
print(str2)

str1 = "cybrom indrapuri"
str2 = str1.islower()
print(str2)

CYBROM INDRAPURI
True
cybrom indrapuri
True

()

In [8]:
str1 = "     cybrom indrapuri     "
str2 = str1.strip()
print(str2)


str1 = "     cybrom indrapuri     "
str2 = str1.lstrip()
print(str2)

str11 = "     cybrom indrapuri     "
str21 = str11.rstrip()
print(str21)

# str1 = "python"
# str2 = str1.upper()
# print(str2)

cybrom indrapuri
cybrom indrapuri
     cybrom indrapuri

In [9]:
my_list = [1,2,3,1,1,1,3,10,5,8]
print(len(my_list))
my_list.append('Append me!')
print(my_list)

a= [1,2,"cybrom",2.05]
a.append("cybrom")
a.append(80)
print(a)

my_list.append([5,6,8,9])
print(my_list)                                                  

my_list.extend(['wubba', 'lubba', 'dub','dub'])
# my_list.append(['wubba', 'lubba', 'dub','dub'])
print(my_list)
# # print(sorted(my_list))
                    
# # pop off the 0 indexed item
# my_list.pop()
# print(my_list)
my_list.pop(-5)
print(my_list)

10
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']
[1, 2, 'cybrom', 2.05, 'cybrom', 80]
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', [5, 6, 8, 9]]
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', [5, 6, 8, 9], 'wubba', 'lubba', 'dub', 'dub']
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'wubba', 'lubba', 'dub', 'dub']

In [1]:
my_list = [1,2,3,1,1,1,3,10,5,8]
print(len(my_list))
my_list.append('Append me!')
print(my_list)

a= [1,2,"cybrom",2.05]
a.append("cybrom")
a.append(80)
print(a)

my_list.append([5,6,8,9])
print(my_list)                                                  

my_list.extend(['wubba', 'lubba', 'dub','dub'])
# my_list.append(['wubba', 'lubba', 'dub','dub'])
print(my_list)
# # print(sorted(my_list))
                    
# # pop off the 0 indexed item
# my_list.pop()
# print(my_list)
my_list.pop(-5)
print(my_list)

10
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']
[1, 2, 'cybrom', 2.05, 'cybrom', 80]
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', [5, 6, 8, 9]]
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', [5, 6, 8, 9], 'wubba', 'lubba', 'dub', 'dub']
[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 'wubba', 'lubba', 'dub', 'dub']

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim

# Step 1: Load the data (Replace 'crime_data.csv' with your dataset)
# Ensure the dataset has columns like 'latitude', 'longitude', 'crime_count', etc.
try:
    crime_data = pd.read_csv('crime_data.csv')
    print("Data Loaded Successfully!")
except FileNotFoundError:
    print("Dataset not found. Please ensure 'crime_data.csv' is in the working directory.")
    exit()

# Step 2: Preprocess the data
crime_data = crime_data.dropna()  # Remove missing values
crime_data = crime_data[['latitude', 'longitude', 'crime_count']]  # Select relevant columns

# Step 3: Apply K-Means Clustering to identify hotspots
kmeans = KMeans(n_clusters=5, random_state=42)  # Assuming 5 hotspots
crime_data['cluster'] = kmeans.fit_predict(crime_data[['latitude', 'longitude']])

# Step 4: Visualize the clusters (optional for agencies)
plt.figure(figsize=(10, 6))
for cluster in range(5):
    cluster_data = crime_data[crime_data['cluster'] == cluster]
    plt.scatter(cluster_data['longitude'], cluster_data['latitude'], label=f'Hotspot {cluster}')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.title('Crime Hotspots')
plt.legend()
plt.show()

# Step 5: Generate alerts for agencies
geolocator = Nominatim(user_agent="crime_hotspot_detector")
alerts = []
for cluster in range(5):
    cluster_data = crime_data[crime_data['cluster'] == cluster]
    if cluster_data['crime_count'].sum() > 50:  # Threshold for crime hotspot
        # Get approximate location for the cluster
        center_lat = cluster_data['latitude'].mean()
        center_lon = cluster_data['longitude'].mean()
        location = geolocator.reverse((center_lat, center_lon), language='en')
        alerts.append(f"Hotspot Detected: Cluster {cluster} near {location.address}. Notify agencies.")

# Step 6: Print the alerts
for alert in alerts:
    print(alert)

# Step 7: Save alerts to a file
with open('alerts.txt', 'w') as file:
    for alert in alerts:
        file.write(alert + '\n')

ModuleNotFoundError: No module named 'pandas'

In [1]:
# Create a lambda function to check if a number is even or odd.
even = lambda a: "even" if a%2==0 else "odd"
even(5)

'odd'

In [1]:
# accednding sorting list(bubble sort)
l=[100,1,200,10]
for i in range(len(l)):
   for j in range(i+1,len(l)):
      if l[i]>l[j]:
          l[i],l[j]=l[j],l[ii]
print(l)

NameError: name 'ii' is not defined

In [1]:
# Type casting integer
a="3"
b="3"
print(int(a)+int(b))


# taking input from user
a=int(input("enter the value1111:"))
b= int(input("enter the value2:"))
print(a+b)

6
7

In [1]:

a=int(input("enter the value1111:"))
b= int(input("enter the value2:"))
print(a+b)

10

In [3]:

a=int(input("enter the value1111:"))
b= int(input("enter the value2:"))
c= int(input("enter the value3:"))
print(a+b+c)

15

In [1]:
# function
str1= "cybrom indrapuri"
str2= str1.upper()
print(str2)

str1= "CYbrom indrapuri"
str2= str1.lower()
print(str2)

str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

str1= "cybrom indrapuri"
# str2= str1.endswith("indrapuri")
str2= str1.endswith("i")
print(str2)

str1= "cybrom indrapuri"
str2= str1.startswith("cybrom")
print(str2)

# method
# print(len(str1))

CYBROM INDRAPURI
cybrom indrapuri
Cybrom indrapuri
True
True

In [1]:
 #uodate
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java'],
   'fees':[10000,20000,30000]}
d.update(city=["bpl","jbpll","gwl"])
print(d)

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'java'], 'fees': [10000, 20000, 30000], 'city': ['bpl', 'jbpll', 'gwl']}

In [2]:
#DICT-dict is keyword to typecast into dictionary

d=dict(name=['abc','xyz',"pqr"],subject=['da','ds..','java'],fees=[10000,20000,30000])
print(d)

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds..', 'java'], 'fees': [10000, 20000, 30000]}

In [1]:
 #uodate
d={"name":['abc','xyz',"pqr"],
   'subject':['da','ds','java','hiiii'],
   'fees':[10000,20000,30000]}
d.update(city=["bpl","jbpll","gwl"])
print(d)

{'name': ['abc', 'xyz', 'pqr'], 'subject': ['da', 'ds', 'java', 'hiiii'], 'fees': [10000, 20000, 30000], 'city': ['bpl', 'jbpll', 'gwl']}

In [2]:
# slice
loss_function = [ 'mean absolute', 'mean squared', 'huber loss'  ,'log loss','hing loss']
# print(loss_function[1:4])
# print(loss_function[1:8])
# print(loss_function[1:])
print(loss_function[:2])
print(loss_function[:])

['mean absolute', 'mean squared']
['mean absolute', 'mean squared', 'huber loss', 'log loss', 'hing loss']

In [1]:
# function
str1= "cybrom indrapuri"
str2= str1.upper()
print(str2)

str1= "CYbrom indrapuri"
str2= str1.lower()
print(str2)

str1= "cybrom indrapuri"
str2= str1.capitalize()
print(str2)

str1= "cybrom indrapuri"
# str2= str1.endswith("indrapuri")
str2= str1.endswith("i")
print(str2)

str1= "cybrom indrapuriiiiii"
str2= str1.startswith("cybrommmm")
print(str2)

# method
# print(len(str1))

CYBROM INDRAPURI
cybrom indrapuri
Cybrom indrapuri
True
False

In [1]:
# set
s=set()
l=[10,20,"hello"]
for i in l:
    s.add(i)
print(s)
print(type(s))

{10, 'hello', 20}
<class 'set'>

In [1]:
# set
s=set()
l=[10,20,"hellooooooooooooo"]
for i in l:
    s.add(i)
print(s)
print(type(s))

{'hellooooooooooooo', 10, 20}
<class 'set'>

In [2]:
# practice
# example of nested for loop
#creating a pyramid  pattern using nested loops 
n = int(input("enter any number"))
for i in range(n):
    for j in range(0,n-i-1,1):
        print(" ",end=" ")
    for j in range(0,i+1,1):
        print("#",end=" ")
    for j in range(0,i,1):
        print("=",end=" ")
    print()

        #
      # # =
    # # # = =
  # # # # = = =
# # # # # = = = =

In [1]:
tu=(10,20.5,100,"cybrom")
print(tu[3][4])

o

In [2]:
#DICTIONARY-ORDERED COLLECTION OF ELEMENT.
#DENOTED BY{} WITH KEY:VALUE PAIR
#UNINDEXED,HETROGENOUS,MUTUABLE
d={"name":"amit","subject":"python","batch":"da/ds26"}
print(d)

{'name': 'amit', 'subject': 'python', 'batch': 'da/ds26'}

In [10]:
di={"name":["amit","karan","deepesh"],"subject":["python","sql",],"batch":["da/ds26","da/ds24"]}
print(di)
print(di["batch"])
print(di["subject"][1])
di["fees"]=100000
print(di)

{'name': ['amit', 'karan', 'deepesh'], 'subject': ['python', 'sql'], 'batch': ['da/ds26', 'da/ds24']}
['da/ds26', 'da/ds24']
sql
{'name': ['amit', 'karan', 'deepesh'], 'subject': ['python', 'sql'], 'batch': ['da/ds26', 'da/ds24'], 'fees': 100000}

In [1]:
# stack
l=[]
while True:
    c=int(input('''
    1.push
    2.pop
    3.peek
    4.display
    5.exit'''))
    if c==1:
        n=input(("enter any value:"))
        l.append(n)
        print(l)
    elif c==2:
        if len(l)==0:
            print("empty stack ........")
        else:
            p=l.pop()
            print(p)
            print(l)
    elif c==3:
        if len(l)==0:
            print("empty stack")
        else:
            print("last element:",l[-1])
    elif c==4:
        print("display stack:",l)

    elif c==5:
        break
    else:
        print("invalid input")

invalid input
empty stack ........

In [24]:

#creating a pattern of AB
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E